@charset "UTF-8";
#title{
	color:#d966ff;
	text-align: center;
}
#table{
	border: solid 2px #730099;
	border-radius: 20px;
	width:60%;
	margin: 0 auto;
	border-spacing: 2px;
	border-collapse: separate;
}
.c1{
	border: solid 2px #f2ccff;
	width:30px;
	height: 30px;
	border-radius: 20px;
}
.c1_1{
	background-color: #df80ff;
}
.c1_2{
	border: 2px soild #df80ff;
}

.c2{
	border: 2px solid  #f2ccff;
	border-radius: 20px;
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	padding-top: 50px;
}